*{
    margin: 0;
    padding: 0;
}
.navbar{
    background: linear-gradient(to right,rgb(83, 73, 219), rgb(148, 95, 141), rgb(51, 62, 219));
}
.logo {
    font-size: 18px;
    font-weight: bold;
}
.header {
    display: flex;
    justify-content: space-between; 
    padding: 10px;
}
#agent_reg_login{
    border-radius: 10px;
    padding: .8rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
#agent_reg_login:hover{
    background-color: #e6e5e5;
}