.navbar{
    background-color:#007bff;
}
.logo {
    font-size: 18px;
    font-weight: bold;
}
.header {
    display: flex;
    justify-content: space-between; 
    padding: 10px;
}
#agent_reg_login{
    border-radius: 10px;
    padding: .8rem;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
#agent_reg_login:hover{
    background-color: #e6e5e5;
}