body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.navbar-brand {
    font-weight: bold;
    font-size: 18px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #333;
    color: white;
    padding: 0.5em;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    /* margin-right: 20px; */
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #555;
}

.profile-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 400px;
    margin: 2em auto;
    padding: 1em;
}

.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.profile-icon {
    font-size: 2em;
    margin-right: 0.5em;
}

.profile-title {
    font-size: 1.2em;
    font-weight: bold;
}

.profile-form .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    /* flex-wrap: nowrap; */
}

.profile-form .form-group-email {
    /* display: flex;
    align-items: center; */
    margin-bottom: 1em;
    /* flex-wrap: nowrap; */
}
.form-group-email input{
    margin-left: 47px;
    width: 58%;
}

.profile-form label {
    flex: 1;
}

.profile-form input {
    flex: 2;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.edit-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 0.5em;
}

.update-btn{
    background-color: red;
    color: white;
    font-size: 18px;
    cursor: pointer;
    /* width: 100%;
    margin: auto; */
}
.center-div{
    /* width: 100%;
    margin: auto; */
    /* display: flex;
    align-items: center; */
    padding: 10px 20px;
    border-radius: 10px;
    margin-left: 36%;
}