
body {
  color: white;
  height: 100vh;
}
 
.dashboard-tab-content {
  margin: 1rem 2rem;
  border-radius: 1rem;
  padding: 1.5rem;
  border: 2px solid rgb(37, 38, 39);
  background: transparent;
  color: rgb(0, 0, 0);
  backdrop-filter: blur(15px);
}
 
.dashboard-tab-content table {
  width: 100%;
  border-collapse: collapse;
}
 
.dashboard-tab-content table{
  border: 2px solid black;
}
 
.dashboard-tab-content th,
.tab-content td {
  padding: 10px;
  text-align: left;
}
 
/* .btn {
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 550;
  cursor: pointer;
} */
 
/* .btn:hover {
  background: red;
  color:darkcyan;
} */
 
/* .currently_set{
  border: 4px solid blue;
}
  */
/* .dashboard-tabs >button{
  border-radius:8px;
  color:black;
  font-weight:bold;
  background: white;
  width: 180px;
  height: 40px;
  cursor: pointer;
} */
 
.modal-content button {
  border-radius:5px;
  margin: 0px 10px;
  font-weight:bold;
  cursor: pointer;
}

/* .dashboard-main-tabs>a>button{
  border-radius:8px;
  color:black;
  font-weight:bold;
  background: white;
  width: 180px;
  height: 40px;
  cursor: pointer;
}
  */
  .outerDiv{
    display: flex;
  }
  .outerDiv> p{
    margin: 5px;
  }