.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.modal-content{
    background-color: #d8c2c2;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    transform: translateY(-50px);
    opacity: 1;
    transition: all 0.5s ease;
}
.modal-content button{
    padding: 9px;
}
 
.head{
    display: flex;
}
.details{
    display: flex;
}
.details #left{
    padding-left: 200px;
}
#modal-name{
    font-size: 32px;
}
#modal-image{
    border-radius: 50%;
}
.modal.show.modal-content{
    transform: translateY(0);
    opacity: 1;
}
.close-btn{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close-btn:hover,
.close-btn:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
@keyframes fadeIn{
    from{opacity:0;}
    to{ opacity: 1;}
}
@keyframes fadeOut{
    from{opacity:1;}
    to{ opacity: 0;}
}
.modal.hide{
    animation: fadeOut 0.5s;
    animation-fill-mode: forwards;
}
.modal.show{
    animation: fadeIn 0.5s;
    animation-fill-mode: forwards;
}


