
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: centre;
    padding: 10px 20px;
    background-color: rgb(49, 47, 47);
    background: transparent;
}
.logo {
    font-size: 18px;
    font-weight: bold;
}

.nav-links{
    display: flex;
    gap: 20px;
}
.nav-links>a>button{
    color: white;
    background: transparent;
    padding: .8rem 1rem;
    cursor: pointer;
}
.tab{
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background: none;
    font-size: 16px;
    font-weight: bold;
}
.tab.active{
    border-bottom: 3px solid skyblue;
}
/* .tab-content{
    display: none;
}
.tab-content.active{
    display: block;
} */
.user-menu{
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

 .dropdown-menu{
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: white;
    border: 1px solid#ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    z-index: 1000;
    width: 100px;
 }
.dropdown-menu a{
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
    border-bottom: 1px solid #ddd;
}
.dropdown-menu a:last-child{
    border-bottom: none;
}
.dropdown-menu a:hover{
    background-color: #f8f8f8;
}
.show{
    display: block;
}

.skill-dropdown{
    position: relative;
    display: inline-block;
    /* padding-left: 100px; */
  }
  .project-dropdown{
    position: relative;
    display: inline-block;
    /* padding-left: 100px; */
  }
  .location-dropdown{
    position: relative;
    display: inline-block;
    /* padding-left: 100px; */
  }
  .customer-dropdown{
    position: relative;
    display: inline-block;
    /* padding-left: 100px; */
  }
  .dashboard-dropbtn{
    /* background-color: #333; */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: 600;
  }