.notification{
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #4caf50;
    color: white;
    padding: 16px;
    z-index: 1000;
    border-radius: 5px;
    opacity: 1;
    transition: opacity 0.5s;
}
.notification.error{
    background-color: red;
}
.notification.fade-out{
    opacity: 0;
}