form{
    background: transparent;
    color: white;
    border: 3px solid skyblue;
    border-radius: 10px;
    font-weight: 600;
    padding: 2rem;
    backdrop-filter: blur(20px);
}
.form-group{
    display:inline-block;
}
.table{
    background: transparent;
    color: white;
    border: 3px solid skyblue;
    border-radius: 110px;
    font-weight: 600;
    padding: 2rem;
    backdrop-filter: blur(120px);
}
#customerid{
    background: black;
    color: white;
    padding: 0.2rem 0.3rem;
    border: 2px solid skyblue;
}
#title2{
    background: black;
    color: white;
    padding: 0.2rem 0.3rem;
    border: 2px solid skyblue;
}

#Vertical{
    background: black;
    color: white;
    padding: 0.2rem 0.3rem;
    border: 2px solid skyblue;
}


#IBU{
    background: black;
    color: white;
    padding: 0.2rem 0.3rem;
    border: 2px solid skyblue;
}

#status{
    background: black;
    color: white;
    padding: 0.2rem 0.3rem;
    border: 2px solid skyblue;
}

#skill{
    background: black;
    color: white;
    padding: 0.2rem 0.3rem;
    border: 2px solid skyblue;
}


#title3 > option{
    color: rgb(0, 0, 0);
    background-color: black;
}


#addSkillBtn{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.remove-skill-btn{
    color: #fff;
    background-color: #f83737;
    border-color: #ff0000;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}