body {
    font-family: Arial, sans-serif;
    /* background-repeat: no-repeat; 
    background-attachment: fixed; */
}

.search-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#search-bar {
    width: 96%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.filters {
    display: flex;
    justify-content: space-between;
}

.filters select {
    width: 32%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#results {
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* .user-result{
    padding: 10px;
    display: flex;
    border-radius: 5px;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items:center ;
    border: 1px solid white;
} */
/* .result-buttons{
    display: flex;
    gap: 5px;
    
}
.result-buttons button{
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
} */
/* .open-btn{
    background-color: green;
}
.soft-lock-btn{
    background-color: #ffa500;
}
.confirm-btn{
    background-color: #cccccc;
}
.already-confirmed-btn{
    background-color: #cccccc;
}
.soft-locked-btn{
    background-color:#ffa500;
} */
.search_user_status{
    height: 30px;
}
.search-softlock-btn{
    background-color: orange;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 22px 0 rgba(0, 0, 0, 0.19);
}
.search-confirm-btn{ 
    background-color: #5d4bef;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 22px 0 rgba(0, 0, 0, 0.19);
}
.search-softlock-btn:hover{
    background-color: #ff800086;
    cursor: pointer;
}
.search-confirm-btn:hover{
    background-color: #78a8e6;
    cursor: pointer;
}
.search-softlock-btn:disabled{
    background-color: #ff800086;
}
.search-confirm-btn:disabled{
    background-color: #78a8e6;
}
/* .lock{
    background-color: yellow;
}
.unlock{
    background-color: lightblue;
} */


/* modal css */
.smallModal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.smallModal-content{
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    transform: translateY(-50px);
    opacity: 1;
    transition: all 0.5s ease;
}
.smallModal-content button{
    padding: 9px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.smallModal-content button:hover{
    background-color: #3c9efa;;
    cursor: pointer;
}
.smallModalDropdown{
    width: 100%;
    height: 38px;
    margin-bottom: 10px;
}
/* .smallModalDropdownOption{
    height: 28px;
} */

.smallModal.show.modal-content{
    transform: translateY(0);
    opacity: 1;
}

.close-btn{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close-btn:hover,
.close-btn:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}
@keyframes fadeIn{
    from{opacity:0;}
    to{ opacity: 1;}
}
@keyframes fadeOut{
    from{opacity:1;}
    to{ opacity: 0;}
}
.smallModal.hide{
    animation: fadeOut 0.5s;
    animation-fill-mode: forwards;
}
.smallModal.show{
    animation: fadeIn 0.5s;
    animation-fill-mode: forwards;
}
