*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    min-height: 100vh;
    /* background: red; */
    background:url('../images/indexbg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 14px 25px;
}

.logo {
    font-size: 18px;
    font-weight: bold;
}

.logo span {
    color: red;
}

.login-toggle {
    display: flex;
    align-items: center;
    gap: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 14px;
}


.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: -4px;
    bottom: -4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: red;
}

input:checked + .slider:before {
    transform: translateX(18px);
}

.login-toggle span {
    font-weight: bold;
    cursor: pointer;
}

.login-toggle span.active {
    color: red;
}

.login-box {
    text-align: center;
}

.login-icon {
    width: 50px;
    height: 50px;
    /* background: red; */
    border-radius: 50%;
    margin: 0 auto 10px auto;
    background-image: url('user-icon.png'); /* Replace with your icon */
    background-size: cover;
}






.nav-list{
    display: flex;
    gap: 3.5rem;
    height: 15vh;
    width: 100%;
    /* justify-content: center; */
    justify-content: space-between;
    align-items: center;
    position: fixed;
    font-weight: 500;
}
.nav-list li{
    list-style: none;
}
.nav-list li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    color: white;
    position: relative;
}
.nav-list li a::after{
    content: "";
    position: absolute;
    background: white;
    width: 100%;
    height: .1rem;
    left: 0;
    bottom: -6px;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform .5s;
}
.nav-list li a:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}







.wrapper{
    margin: 8rem;
    height: 70vh;
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255,255,255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0, .2);
    color: white;
    border-radius: 10px;
    padding: 30px 40px;
}
.wrapper h1{
    font-size: 36px;
    text-align: center;
}
.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    color: white;
}
.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.wrapper .remeber-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: -15px 0 15px;
}
.remeber-forgot label input{
    accent-color: #fff;
    margin-right: 3px;
}
.remeber-forgot a{
    color: white;
    text-decoration: none;
}
.remeber-forgot a:hover{
    transform:translateY(-5px);
    
}
.wrapper .btn{
    width: 100%;
    height : 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
.wrapper .register-link{
    font-size: 14px;
    text-align: center;
    margin: 20px 0 15px;
}
.register-link p a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}
.register-link p a:hover{
    transform: translateY(-5px);
    text-decoration: underline;
}

/* .popup{
    display:inline-flex;
    color: green;
    background-color: transparent;
    font-size: 16px;;
    position:fixed;
    top:80%;
    left:50%;
    transform: translate(-50%, -50%);
    padding:20px;
    border-radius:15px;
    box-shadow : 0 4px 8px rgba(0,0,0,0.1);
    z-index:1000;
} */
.popup{
    display:inline-flex;
    color: white;
    background-color: transparent;
    font-size: 16px;;
    position:fixed;
    top:12%;
    left:50%;
    transform: translate(-50%, -50%);
    padding:10px;
    border-radius:15px;
    /* box-shadow : 10px 10px 5px rgb(224, 216, 216); */
    z-index:1000;
    border:  2px solid skyblue;
    text-shadow: 0 0 3px #FF0000;

}
 
.popup1{
    display:inline-flex;
    color: white;
    background-color: transparent;
    font-size: 16px;;
    position:fixed;
    top:12%;
    left:50%;
    transform: translate(-50%, -50%);
    padding:10px;
    border-radius:15px;
    /* box-shadow : 10px 10px 5px rgb(224, 216, 216); */
    z-index:1000;
    border:  2px solid skyblue;
    text-shadow: 0 0 3px #FF0000;

}
/* The animation code */
@keyframes example {
    from {background-color: transparent;}
    to {background-color: red;}
  }
  
  /* The element to apply the animation to */
.popup1{
    /* width: 100px;
    height: 100px; */
    background-color: transparent;
    animation-name: example;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    /* animation-direction: r; */
}
.popup{
    /* width: 100px;
    height: 100px; */
    background-color: transparent;
    animation-name: example;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

 